@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin dropShadow {
  mix-blend-mode: normal;
  box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.21);
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin wallpaper($wpUrl) {
  background-image: url($wpUrl);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

@mixin modalOverlay() {
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: black, $alpha: 0.5);
  position: absolute;
  opacity: 0;
  transition: all 0.25s ease;
  pointer-events: none;
  backdrop-filter: blur(8px);
  @include flexCenter();
}
