.settings-modal {
  @include modalOverlay();
  .settings-dialog {
    opacity: 0;
    width: 600px;
    height: 600px;
    // background-color: $accentColor;
    background-color: rgba($color: $accentColor, $alpha: 0.8);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 30px;
    @include dropShadow();
    @include flexCenter();
    .settings-dialog-container {
      width: 100%;
      height: 100%;

      //   background-color: aqua;
      //   margin: 10px;
      h1,
      h3 {
        font-weight: normal;
      }
      h1 span {
        color: $primaryColor;
      }
      .settings-wp {
        margin-top: 30px;
        display: flex;
        align-items: center;
        .settings-wp-browse {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $accentColor;
          @include dropShadow();
          padding: 10px 30px;
          border-radius: 500px;
          margin-left: 20px;
          svg {
            fill: $primaryColor;
            margin-right: 10px;
          }
          cursor: pointer;
          &:hover {
            background-color: $minAccentColor;
          }
        }
        .settings-wp-default {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $accentColor;
          @include dropShadow();
          padding: 10px 30px;
          border-radius: 500px;
          margin-left: 20px;
          svg {
            fill: $primaryColor;
            margin-right: 10px;
          }
          cursor: pointer;
          &:hover {
            background-color: $minAccentColor;
          }
        }
      }
    }
  }
  .delete-dialog {
    opacity: 0;
    height: 150px;
    width: 400px;
    background-color: $minAccentColor;
    position: absolute;
    pointer-events: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    p {
      font-weight: 500;
    }
    .delete-message {
      // background-color: blueviolet;
      height: 100%;
      width: 100%;
      flex: 2;
      color: $secondaryColor;
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 15px;
      @include flexCenter();
      border-bottom: 1px solid $primaryColor;
    }
    .delete-confirm {
      flex: 1;
      height: 100%;
      width: 100%;
      display: flex;
      .confirm-yes {
        flex: 1;
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 10px;
        @include flexCenter();
        p {
          color: rgb(255, 88, 88);
        }
        &:hover {
          background-color: #bdbdbd;
        }
        cursor: pointer;
      }
      .confirm-no {
        flex: 1;
        height: 100%;
        width: 100%;
        border-bottom-right-radius: 10px;
        border-left: 0.25px solid $primaryColor;
        @include flexCenter();
        p {
          color: $primaryColor;
        }
        &:hover {
          background-color: #bdbdbd;
        }
        cursor: pointer;
      }
    }
  }
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
